<section class="wrapper">
    <div class="container">
      <div class="row">
        <!-- main post -->
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
          <div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
           <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
               <small class="card-meta mb-2 text-light">Thought Leadership</small>
               <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Web Developmet Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
              <small><i class="far fa-clock"></i> October 15, 2020</small>
             </div>
             <div class="card-footer">
              <div class="media">
     <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=740&t=st=1699948949~exp=1699949549~hmac=d63accc7b1258561c30080844f240cf7e9052ce6750ec37b3bc8fbb798879ae9" alt="Generic placeholder image" style="max-width:50px">
     <div class="media-body">
       <h6 class="my-0 text-light d-block">Owner Name</h6>
        <small>Owner discription</small>
     </div>
   </div>
             </div>
           </div>
         </div></div>
      </div>
    <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Web Developmet Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=740&t=st=1699948949~exp=1699949549~hmac=d63accc7b1258561c30080844f240cf7e9052ce6750ec37b3bc8fbb798879ae9" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
       <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Creative Manner Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436180.jpg?w=740&t=st=1699949003~exp=1699949603~hmac=d00a91ede0b050a561d755b4dc3f55e77fd78be2a3c772bfe8db2cbad6617c4c" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Design Studio Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-render-avatar-character_23-2150611716.jpg?w=740&t=st=1699949263~exp=1699949863~hmac=6356f3623bdc0cc9784b402ea3ddd3358a81b6d1d26efe74b6793fc3ae5fc6ad" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
     
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt=" Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">UI/UX Design Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=740&t=st=1699949322~exp=1699949922~hmac=ae90bdba62055c969c91f28097179319ede55d62879b5c9d0cb788c14a3c16fb" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
       <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-rendering-boy-avatar-emoji_23-2150603408.jpg?w=740&t=st=1699949419~exp=1699950019~hmac=dfc4f74c436c88cf5cfe97b7264a427cfd6c52eb507b84f741538f7361b07b99" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-light card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2 text-light">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-light" herf="https://creativemanner.com">Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://img.freepik.com/free-psd/3d-render-avatar-character_23-2150611746.jpg?w=740&t=st=1699949451~exp=1699950051~hmac=f01b2ab6e8501026164a11147a82a6aea54b178c02e563d5294790a3efd40a21" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-light d-block">Owner Name</h6>
       <small>Owner discription</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    
  </div>
    
  </div>
  </section>
  