<body class="container">
   <form (submit)="createPost()" class="form-create"></form> 
   <h1 class="h3 mb-3 text-center font-weight-normal text-dark">Create post</h1>
   <input [(ngModel)]="post.title" type="title" name="title" id="inputTitle" class="form-control mb-3" placeholder="Title">
   <quill-editor [(ngModel)]="post.photo" name="photo" aria-placeholder="Photo"></quill-editor>
   <label class="mt-3">Information</label>
   <quill-editor [(ngModel)]="post.text" name="text" aria-placeholder="Text"></quill-editor>
   <button class="btn btn-secondary btn-lg btn-block mb-5" type="submit">Create</button>
</body>